@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwindcss 지시자 넣어주기 */

/* .container {
  margin: auto;
  max-width: 600px;
}

.todoBlock {
  padding: 30px;
  margin-top: 50px;
  background: #fff;
  box-shadow: -9px 17px 13px rgb(0 0 0 / 16%);
  border-radius: 10px;
} */

/* ==> tailwindcss 로 styling 해줄것이므로 기존의 css 지워주기 */